@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//font-family: 'Post No Bills Jaffna', sans-serif;
//font-family: 'Post No Bills Jaffna Light', sans-serif;
//font-family: 'Post No Bills Jaffna Medium', sans-serif;
//font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
//font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;








*{
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p{
    line-height: 150%;
  }
}
.wrapper{
  max-width: 1100px;
  display: flex;
  //width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header{
  background-color: #000;
  .wrapper{
    justify-content: space-between;
  }
}


.telephone-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background-color: #000000;
  color: grey;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  ul{
    display: flex;
    li{
      margin-right: 10px;
    }
    li:nth-child(3):before{
     margin-right: 10px;
     content: "|";
     overflow: hidden;
    }
    li:nth-child(3):after{
      margin-left: 10px;
      content: "|";
    }
  }
  .login{
    margin-left: auto;
    display: flex;
    align-items: center;
    p{
      margin-left: 10px;
    }
  }

}

.header__nav{
  .wrapper{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .logo{
      a{
        text-decoration: none;
        font-size: 36px;
        font-family: "Post No Bills Jaffna SemiBold";
        color: #FFFF;
      }
    }
    .header-menu-group{
      display: flex;
      align-items: center;
      .header__nav-menu {
        list-style: none;
        display: flex;
        align-self: end;
        align-items: center;
        text-align: center;
        height: 80px;
        li{
          color: grey;
          padding: 31px 20px;
          display: block;
          align-items: center;
          text-transform: uppercase;
          //color: #FFF;
          div{
            margin: 0;
          }
        }
        li:hover{
          background-color: grey;
          color: #FFFFFF;
        }
      }
    }
  }
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  background-color: #0F0F0F;

  width: auto;


}

.iconify{
  font-size: 15px;
  color: #FFFFFF;
}

.basket, .search{
  margin-left: 20px;
}

.main__info{
  background: url("../img/Rectangle3.jpg") no-repeat center center;
  //background-size: cover;
  //padding-top: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  .porter__cube{
    margin: 0 auto;
    display: flex;
    width: 320px;
    height: 320px;
    border: 4px solid #FFFFFF;
    justify-content: center;
    flex-direction: column;

    h1{
      font-size: 64px;
      font-family: "Post No Bills Jaffna SemiBold";
      font-style: normal;
      color: #FFFF;
      position: relative;
      font-weight: bold;
      line-height: 96px;
      padding: 0;
      margin: 0 auto;
    }


    p{
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      padding: 0;
      margin: 0 auto;
    }
    h1:after{
      content: '';
      border-bottom: 3px solid #FFFFFF;
      position: absolute;
      width: 190px;
      top: 90%;
      left: 0;
    }
  }
  .lorem_info{
    margin: 80px auto auto;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 730px;
    text-align: center;
    padding-bottom: 130px;
  }
}

.collection-and-season{
  max-width: 100%;
  display: flex;
}

.season{
  position: relative;
  //max-width: 1040px;
  width: 55%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-bottom: 100px;
  h2{
    position: relative;
    align-self: center;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 100px;
    &:after{
      content: '';
      border-bottom: 3px solid #FFFFFF;
      position: absolute;
      width: 120px;
      bottom: -30%;
      left: 30%;
    }
  }
  .img-group{
    display: flex;
    justify-content: space-around;
    .img-container{
      >div{
        background-color: #191B1C;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 405px;

      }
      .product-name{
        font-family: "Playfair Display";
        font-size: 18px;
      }
      .product-price{
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
      }
    }
  }
}


.collection{
  //max-width: 880px;
  width: 45%;
  background: url("../img/Rectangle8.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  top: 10%;

}

.new-collection{
  position: relative;
  align-self: center;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  &:after{
    content: '';
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    width: 120px;
    bottom: -55%;
    right: 34%;
  }
}


.catalog-btn{
  margin-bottom: 100px;
  border: 1px solid #fff;
  background-color: rgba(0,0,0, 0);
  color: #fff;
  width: 138px;
  height: 47px;
  font-weight: lighter;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}

.collection2018{
  display: flex;
  height: 600px;
  .old-colletion-img{
    width: 45%;
    background: url("../img/Rectangle9.jpg") no-repeat center center;
    background-size: cover;
  }
  .collection2018-info{
    width: 55%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .new-collection{

    }
    .product-price{
      max-width: 450px;
      text-align: center;
    }
    .catalog-btn{
      margin-top: 60px;
      width: 311px;
    }
  }
}


.new-arrivals{
  width: 100%;
  background-color: #000;
  .prev, .next{
    visibility: hidden;
  }
  .new-collection{
    margin: 130px auto;
  }
  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
    .img-container{
      >div{
        background-color: #191B1C;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 405px;

      }
      .product-name{
        font-family: "Playfair Display";
        font-size: 18px;
      }
      .product-price{
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.brands{
  width: 100%;
  background-color: #0F0F0F;
  >.new-collection{
    margin: 75px auto;
    &:after{
      content: '';
      border-bottom: 2px solid #FFFFFF;
      position: absolute;
      width: 120px;
      bottom: -100%;
      right: 34%;
    }
  }
  .brand-collection{
    display: flex;
    justify-content: space-between;

    img{
      width: 255px;
      margin-bottom: 75px;
    }
  }
}






footer{
  background: url("../img/Rectangle15.jpg") no-repeat center center;
  background-size: cover;

  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about, .category, .mailing{
      margin: 88px 0;
      max-width: 357px;
      height: 225px;
      h3{
        font-size: 24px;
        font-family: 'Playfair Display';
        text-transform: uppercase;
        font-style: normal;
        margin-bottom: 48px;
      }
      p{
        font-family: 'PT Sans', sans-serif;
        width: 350px;
        line-height: 150%;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        max-width: 280px;
        li {
          font-family: "PT Sans", sans-serif;
          font-size: 14px;
          justify-content: center;
          align-items: center;
          //width: auto;
          padding: 15px;
          background-color: #0F0F0F;
          margin: 0 10px 10px 0;
          &:hover{
            background-color: #ffffff;
            color: #0F0F0F;
          }
        }
      }
    }
    .mailing{
      font-family: "PT Sans";
      input{
        margin-top: 35px;
        width: 210px;
        background-color: rgba(255, 255, 255, 0.4);
        padding-left: 10px;
        height: 40px;
        border: none;
      }

      button{
        text-transform: uppercase;
        width: 140px;
        height: 40px;
        background-color: #0F0F0F;
        color: #ffffff;
        border: none;
        &:hover{
          background-color: #fff;
          color: #0F0F0F;
        }
      }
    }
  }

}

.copyrights{
  background-color: #0F0F0F;
  .wrapper{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


.prev, .next{
 //visibility: hidden;
  position: absolute;
  border: 0px solid #fff;
  background-color: rgba(0,0,0, 0);
  color: #fff;
  font-weight: lighter;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
}


@media (max-width: 1371px){
  .season{

  }
  .collection-and-season{
    flex-direction: column;
    .season{
      width: auto;
      padding-bottom: 30px;
      .img-group{
        justify-content: center;
        align-items: center;
        .slick-list{
          margin: 0 auto;
          width: 260px;
        }
        >div{
          margin: 0 auto;
          text-align: center;
        }
      }
      h2{
        padding-top: 15px;
        margin-bottom: 50px;
      }
    }
    .collection{
      width: auto;
      .new-collection:after{
        left: 34%;
      }
    }
  }

}


@media (max-width: 1090px){
  .wrapper{
    margin: 0 20px;
  }

  .brand-collection{
    justify-content: space-around;
    flex-wrap: wrap;
  }

}

@media (max-width: 960px){
  footer{
    .wrapper{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .about, .category, .mailing {
        .footer-name{
          margin: 20px auto;
          text-align: center;
        }
       //max-width: 100%;
       margin: 10px;
      .nav-footer{
        flex-direction: column;
        margin-bottom: 10px;
      }
      }
      .category{
        height: auto;
      }
    }

    }
  .season{
    .img-group{
      flex-wrap: wrap;
      //justify-content: space-between;
      .img-container{
        width: auto;
        height: auto;
      }
      .img-container>div{
        width: 214px;
        height: 213px;
      }
    }
  }
}





@media (max-width: 900px) {
  .gallery{
    width: 100%;
    justify-content: center;
    align-items: center;
    .slick-list{
      margin: 0 auto;
      width: 260px;
    }
    >div{
      margin: 0 auto;
      text-align: center;
    }
  }
  .new-arrivals{
    position: relative;
    .prev{
      visibility: visible;
      z-index: 10;
      top: 50%;
      left: 20%;
    }
    .next{
      visibility: visible;
      z-index: 10;
      top: 50%;
      right: 20%;
    }
  }

}


@media (max-width: 768px) {
  .new-arrivals{
    position: relative;
    .prev{
      visibility: visible;
      z-index: 10;
      top: 50%;
      left: 20%;
    }
    .next{
      visibility: visible;
      z-index: 10;
      top: 50%;
      right: 20%;
    }
  }
}

@media (max-width: 630px) {
  .telephone-login{
    margin-top: 10px;
    height: auto;
    flex-direction: column;
    .login{
      align-self: center;
      margin: 5px auto;
    }
  }
  .header__nav{
    height: auto;
    .wrapper{
      //height: 190px;
      //flex-direction: column;
      justify-content: center;
      align-items: center;
      .header-menu-group{
        //flex-direction: column;
        .header__nav-menu{
          //flex-direction: column;
          li{
            //padding: 2px;
            margin: 2px;

          }
        }
      }

    }
  }
  .new-collection:after{
    left: 28%;
  }
  .collection2018-info{
    .catalog-btn{
      margin: 0;
    }
  }

.collection2018-info{
  padding: 0 5px;
  .new-collection:after{
    left: 32%;
  }

}

  .new-arrivals{
    .new-collection{
      margin: 50px auto;
      font-size: 25px;
    }
    .new-collection:after{
      left: 30%;
    }
    .gallery{
      justify-content: space-around;
    }
    .prev{
      visibility: visible;
      z-index: 10;
      top: 40%;
      left: 20%;
    }
    .next{
      visibility: visible;
      z-index: 10;
      top: 40%;
      right: 20%;
    }
  }

  .collection-and-season{
    flex-direction: column;
    .season{
      width: auto;
      padding-bottom: 30px;
      h2{
        padding-top: 15px;
        margin-bottom: 50px;
      }
    }
    .collection{
      width: auto;
      .new-collection{
        font-size: 34px;
      }
      .new-collection:after{
        left: 34%;
      }
    }
  }
  .collection2018{
    flex-direction: column;
    height: auto;
    .old-colletion-img{
      width: auto;
    }
    .collection2018-info{
      width: auto;
    }
  }

}

@media (max-width: 539px){
  .brand-collection{
    justify-content: center;
    align-items: center;
    img{
      margin: 0 auto;
    }
  }
}





@media (max-width: 420px){
  .subscribe{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
  }
  footer .wrapper .mailing input{
    margin-top: 5px;
    width: 100%;
  }
  footer .wrapper .mailing button{
    margin: 5px 0;
    width: 100%;
  }

  .telephone-login{
   ul{
     //flex-direction: column;
     //justify-content: space-around;
     li{
       font-size: 10px;
       margin: 0;
     }
   }
  }
  .login{
    font-size: 15px;
  }
}


//gamburger menu

.toggle-button {
  margin-top: 5px;
  position: relative;
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
  display: none;
  //z-index: 1;
}
.close-btn{
  display: none;
}

@media (max-width: 680px){
  .toggle-button{
    display: block;
  }
  .header__nav  .wrapper .header-menu-group .header__nav-menu{
    flex-direction: column;
    height: auto;
  }
  .header__nav .wrapper{
    justify-content: center;
  }
  .close-btn{
    display: block;
    align-self: end;
    padding: 5px;
    width: auto;
    height: auto;
    font-size: 30px;
    &hover{
      background-color: rgba(0,0,0,0);
    }
  }
}



.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle-button .menu-bar-top {
  border: 4px solid #555;
  border-bottom: none;
  top: 0;
}
.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #555;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #555;
  border-top: none;
  top: 22px;
}


//------------------------


.menu-wrap {
  background-color: #191B1C;
  position: fixed;
  top: 0;
  left: -100%;
  //height: 100%;
  //width: 150px;
  //margin-left: -280px;
  //font-size: 1em;
  //font-weight: 700;
  //overflow: auto;
  transition: .25s;
  z-index: 10;
}

.menu-show {
  margin-left: 0px;
  left: 0;
  height: 100%;
}